.top-margin-10 {
	margin-top: 10px;
}

.top-margin-50 {
	margin-top: 50px;
}

.hidden {
	display: none;
}

.shown {
	display: block;
}

h1 {
	color: blue;
}

h1 span.red {
	color: red;
}

.underline {
	text-decoration: underline;
}

#header { 
	border: 1px solid #A4A4A4;
}

#error-box {
	border: 1px solid #FF0000;
	padding: 25px;
	font-size: 20pt;
}

#searchForm {
	margin: 20px 0;
}

#searchForm input[type=text] {
	width: 500px;
	height: 50px;
	margin: 0 20px 0 0;
	font-size: 20pt;
}

.submitBtn {
	width: 250px;
	height: 50px;
	font-size: 20pt;
	background-color: #FFF;
}

#resultsTable {
	width: 60%;
}

#resultsTable td {
	padding: 15px;
	min-width: 30px;
	border: 1px solid #C0C0C0;
}

#resultsTable .td-check {
	text-align: center;
}

#resultsTable .td-emphasis {
	font-weight: bold;
}

#resultsTable tr.less-padding > td {
	padding: 5px;
}

#resultsTable tr.borderless > td {
	border: none;
}					<td>ACADEMY DINOSAUR</td>
						<td>Stock Availability</td>
					</tr>

					<tr>
						<td class="td-check"><input type="checkbox" value="id" /></td>
						<td>A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies</td>
						<td class="td-check">1000</td>
					</tr>
					<!-- Movie Block END -->

					<tr class="borderless">
						<td></td>
						<td></td>
						<td></td>
					</tr>

					<!-- Movie Block -->
					<tr class="td-emphasis less-padding">
						<td></td>
						<td>ACADEMY DINOSAUR</td>
						<td>Stock Availability</td>
					</tr>

					<tr>
						<td class="td-check"><input type="checkbox" value="id" /></td>
						<td>A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies</td>
						<td class="td-check">2</td>
					</tr>
					<!-- Movie Block END -->

				</tbody>
			</table>
		<!-- Search Results Table END -->
		<button type="submit" class="submitBtn top-margin-50">Rent Movies</button>
		</form>
	</section>
</body>
</html>