/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    width: 100%;
    height: 100%;
    min-height: 1080px;
    padding: 0;
}

div#top-container {
    width: 100%;
    height: 670px;
    background-image: url(../img/top-container-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div#top-container div.colored-container {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

div.colored-container > header {
    width: 960px;
    height: 75px;
}

a#tajam-logo {
    float: left;
    display: block;
    margin: 10px;
    width: 128px;
    height: 50px;
    background-image: url(../img/tajam-logo.png);
}

nav#top-navigation {
    float: right;
    padding: 25px 0 0;
    height: 50px;
}

nav#top-navigation a {
    padding: 0 10px;
    color: #FFF;
    text-decoration: none;
    font-size: 9pt;
    font-weight: bold;
}

nav#top-navigation a:hover {
    color: #00e0d0;
}

div#top-text-block {
    float: left;
    width: 100%;
    height: 594px;
    text-align: center;
}

div#top-text-block > h1, hr, p {
    width: 80%;
    margin: 0 auto;
}

div#top-text-block > h1 {
    margin-top: 155px;
    color: #FFF;
}

div#top-text-block > hr {
    width: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-color: #00e0d0;
}

div#top-text-block > p {
    color: #FFF;
    line-height: 30px;
}

#learn, a.mid-glass-button {
    display: block;
    width: 120px;
    height: 40px;
    margin: 20px auto;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    text-decoration: none;
    font-size: 10px;
    line-height: 40px;
    font-weight: bold;
}

a.mid-glass-button:hover {
    background-color: white;
    color: #00e0d0;
}

/* 2nd Container */

div#top-container-2 {
    width: 100%;
    height: 402px;
    background-color: #fff;
    /*background-repeat: no-repeat;
    background-size: cover;*/
}

div#top-container-2 div.un-colored-container {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

div#text-block-2 {
    float: left;
    width: 100%;
    height: 332px;
    text-align: center;
    margin-top: 70px;
}

div#logo-box {
    width: 30%;
    margin: 0 auto;
    float: left;
    margin-right: 50px;
    margin-top: 30px;
}

a#logo1 {
    float: left;
    display: block;
    width: 235px;
    height: 229px;
    background-image: url(../img/logo1.png);
}

div#text-block-2 > h3, p {
    width: 70%;
    margin: 0 auto;
}

div#text-block-2 > h3 {
    color: #413d4b;
}

div#text-block-2 > p {
    color: #413d4b; 
    line-height: 30px;
}

div#text2{
    text-align: left;
}

#learn, a.mid1-glass-button {
    display: block;
    width: 120px;
    height: 40px;
    margin: 20px auto;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    text-decoration: none;
    font-size: 10px;
    line-height: 40px;
    font-weight: bold;
}

a.mid1-glass-button:hover {
    background-color: #00e0d0;
}

/* 3rd Container */

div#top-container-3 {
    width: 100%;
    height: 553px;
    background-image: url(../img/overlayer2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div#top-container-3 div.colored-container {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

div#play-box {
    text-align: center;
    display: block;
    height: 103px;
    color: #FFF;
    margin: 0 auto;
    width: 100%;
    padding: 200px 0px;

}
a.play-btn {
    display: block;
    width: 103px;
    height: 103px;
    margin: 0 auto;
    background-image: url(../img/play.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* 4th Container */

div#top-body {
    width: 100%;
    height: 755px;
    background-image: #fff;
}

div#top-body div.un-colored-body {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

div#text-body {
    margin-top: 70px;
    color: #413d4b;
    text-align: center;
}

div#text-body > hr{
    width: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-color: #413d4b;
}

/* Div table body & small divs container */
div#table-body {
    width: 100%;
    height: 500px;
}

/* tb-1 container */
div.tb-1 {
    width: 319px;
    height: 250px;
    border-color: #431d4b;
    border-right: 1px solid;
    border-bottom: 1px solid;
    vertical-align: middle;
    display: block;
    float: left;
}

div#web-design {
    padding: 40px 0px;
    text-align: center;
    margin: 0 auto;
}

div#web-design h5 {
    color: #431d4b;
    font-size: 14px;
}

.design {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-image: url(../img/web-design.png);
    background-repeat: no-repeat;
}

div#web-design, .small-text {
    width: 90%;
    font-size: 12px;
    color: #413d4b;
}
/*  tb-1 END */

/* tb-2 container */
div.tb-2 {
    width: 319px;
    height: 250px;
    border-color: #431d4b;
    border-right: 1px solid;
    border-bottom: 1px solid;
    vertical-align: middle;
    display: block;
    float: left;
}
div#branding-identity {
    padding: 40px 0px;
    text-align: center;
    margin: 0 auto;
}

div#branding-identity h5 {
    color: #431d4b;
    font-size: 14px;
}

.branding {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-image: url(../img/branding.png);
    background-repeat: no-repeat;
}
div#branding-identity, .small-text {
    width: 90%;
    font-size: 12px;
    color: #413d4b;
}
/* tb-2 END */

/* tb-3 container */
div.tb-3 {
    width: 319px;
    height: 250px;
    border-color: #431d4b;
    border-bottom: 1px solid;
    vertical-align: middle;
    display: block;
    float: left;
}
div#mobile-app {
    padding: 40px 0px;
    text-align: center;
    margin: 0 auto;
}

div#mobile-app h5 {
    color: #431d4b;
    font-size: 14px;
}

.mobile {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-image: url(../img/mobile-app.png);
    background-repeat: no-repeat;
}
div#mobile-app, .small-text {
    width: 90%;
    font-size: 12px;
    color: #413d4b;
}
/* tb-3 END */

/* tb-4 container */
div.tb-4 {
    width: 319px;
    height: 250px;
    border-color: #431d4b;
    border-right: 1px solid;
    border-bottom: 1px solid;
    vertical-align: middle;
    display: block;
    float: left;
    clear: both;
}
div#search-engine {
    padding: 40px 0px;
    text-align: center;
    margin: 0 auto;
}

div#search-engine h5 {
    color: #431d4b;
    font-size: 14px;
}

.search {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
}

div#search-engine .small-text {
    width: 90%;
    font-size: 12px;
    color: #413d4b;
}
/* tb-4 END */

/* tb-5 container */
div.tb-5 {
    width: 319px;
    height: 250px;
    border-color: #431d4b;
    border-right: 1px solid;
    border-bottom: 1px solid;
    vertical-align: middle;
    display: block;
    float: left;
}
div#game-dev {
    padding: 40px 0px;
    text-align: center;
    margin: 0 auto;
}

div#game-dev h5 {
    color: #431d4b;
    font-size: 14px;
}

.game {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-image: url(../img/game-developer.png);
    background-repeat: no-repeat;
}
div#game-dev, .small-text {
    width: 90%;
    font-size: 12px;
    color: #413d4b;
}
/* tb-5 END */

/* tb-6 container */
div.tb-6 {
    width: 319px;
    height: 250px;
    border-color: #431d4b;
    border-bottom: 1px solid;
    vertical-align: middle;
    display: block;
    float: left;
}
div#made-with-love {
    padding: 40px 0px;
    text-align: center;
    margin: 0 auto;
}

div#made-with-love h5 {
    color: #431d4b;
    font-size: 14px;
}

.with-love {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-image: url(../img/with-love.png);
    background-repeat: no-repeat;
}
div#made-with-love, .small-text {
    width: 90%;
    font-size: 12px;
    color: #413d4b;
}
/* tb-6 END */

/* 5th Container */
div#mid-body {
    width: 100%;
    height: 715px;
    background-image: url(../img/top-container-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div#mid-body div.colored-mid-body {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

div#text-mid-body {
    float: left;
    width: 100%;
    height: 332px;
    text-align: center;
    margin-top: 70px;
}

div#text-mid-body > h1, hr, p {
    width: 80%;
    margin: 0 auto;
}

div#text-mid-body > h1 {
    color: #FFF;
}

div#text-mid-body > hr {
    width: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-color: #FFF;
}

div#text-mid-body > p {
    color: #FFF;
    line-height: 30px;
}

div#our-pople {
    width: 940px;
    height: 715px;
    text-align: center;
    margin: 0 auto;
}

div#first {
    float: left;
    width: 220px;
    height: 313px;
    margin-right: 15px;
    border: 1px solid #e1e1e1;
    margin-bottom: 40px;
}

div#image1 {
    background-image: url(../img/put-your-image.jpg);
    width: 220px;
    height: 229px;
    float: left;
}

div#image-text {
    width: 220px;
    height: 65px;
    margin: 0 auto;
    text-align: center;
    margin-top: 250px; 
}

a.title1, h5, .job-title {
    color: #FFF;
}

.title1, h5 {
    margin-bottom: 5px; 
}

.title1, .job-title {
    font-size: 12px;
}

div#last {
    clear: both;
    margin-top: 20px;
}

div#last p, a {
    text-align: center;
    margin: 0 auto;

}

#hiring {
    display: block;
    width: 120px;
    height: 40px;
    margin: 20px auto;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    text-decoration: none;
    font-size: 10px;
    line-height: 40px;
    font-weight: bold;
    clear: both;
}

#hiring:hover {
    background-color: white;
}

/* 6th Container */
div#bottom-body {
    width: 100%;
    height: 740px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

div#bottom-body div.un-colored-body {
    width: 960px;
    height: 150px;
    margin: 0 auto;
}

div#text-bottom-body {
    float: left;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 35px 0px;
}

div#body-top-cont {
    width: 100%;
    height: 80px;
    float: left;
}

h3 {
    float: left;
    width: 40%;
    text-align: center;
    margin-top: 30px;
    color: #431d4b;
}

.see-more {
    width: 100%;
    margin-top: 30px;
    text-align: right;
    color: #431d4b;
    text-decoration: none;
    display: block;
}

div#container-tiles {
    width: 1603px;
    height: 400px;
}

div#t1 {
    display: block;
    background-color: #b6b6b6;
    width: 266px;
    height: 200px;
    float: left;
}

div#t2 {
    display: block;
    background-color: #acacac;
    width: 266px;
    height: 200px;
    float: left;
}

div#t3 {
    display: block;
    background-color: #a1a1a1;
    width: 266px;
    height: 200px;
    float: left;
}

div#t4 {
    display: block;
    background-color: #8a8a8a;
    width: 266px;
    height: 200px;
    float: left;
}

div#t5 {
    display: block;
    background-color: #b6b6b6;
    width: 266px;
    height: 200px;
    float: left;
}

div#t6 {
    display: block;
    background-color: #a4a4a4;
    width: 266px;
    height: 200px;
    float: left;
}

#load-more, a.mid-glass-button {
    display: block;
    width: 120px;
    height: 40px;
    margin: 0px auto;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    text-decoration: none;
    font-size: 10px;
    line-height: 40px;
    font-weight: bold;
}

#load-more {
    margin-top: 80px;
}

/* 7th Container */
div#footer-header {
    width: 100%;
    height: 500px;
    background-image: url(../img/overlayer4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div#footer-header div.colored-footer {
    width: 960px;
    height: 135px;
    margin: 0 auto;
}

div#text-footer {
    float: left;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 35px 0px;
}

div#body-top-cont {
    width: 100%;
    height: 80px;
    float: left;
}

#quote {
    width: 32px;
    height: 26px;
    background-image: url(../img/quote.png);
    text-align: center;
    display: block;
    margin: 40px auto;
}

#text-footer > p {
    color: #FFF;
}

#footer-list {
    width: 450px;
    height: 230px;
    display: block;
    text-align: center;
    margin: 0 auto;
    clear: both;
}

#footer-list h5 {
    margin: 0 auto;
    padding-top: 15px;
    color: #FFF;
}

#footer-list p {
    font-size: 10px;
    padding: 10px;
    color: #FFF;
}

#ftr-imgs {
    width: 100%;
    height: 140px;
}

#ftr-imgs a {
    text-align: center;
    display: inline-block;
}

#arrow-left {
    width: 11px;
    height: 21px;
    color: #fff;
    font-size: 21px;
    text-decoration: none;
    margin: 80px 10px;
    float: left;
}

#img1 {
    width: 45px;
    height: 45px;
    background-image: url(../img/your-img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 70px 10px;
}

#img2 {
    width: 45px;
    height: 45px;
    background-image: url(../img/your-img2.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 70px 10px;
}

#selected-img {
    width: 70px;
    height: 70px;
    background-image: url(../img/your-selected-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 60px 10px;
}

#img3 {
    width: 45px;
    height: 45px;
    background-image: url(../img/your-img3.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 70px 10px;
}

#img4 {
    width: 45px;
    height: 45px;
    background-image: url(../img/your-img4.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 70px 10px;
}

#arrow-right {
    width: 11px;
    height: 21px;
    color: #fff;
    font-size: 21px;
    text-decoration: none;
    margin: 80px 15px;
    float: right;
}

/* 8th Container */
div#footer-body {
    width: 100%;
    height: 653px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

div#footer-body div.un-colored-footer-body {
    width: 960px;
    height: 150px;
    margin: 0 auto;
}

div#text-bottom-footer-body {
    float: left;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 35px 0px;
}

div#left-cont {
    float: left;
    width: 50%;
}

#left-cont h3 {
    width: 90%;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 20px;
    text-align: center;
}

#left-cont form {
    text-align: left;
    width: 100%;
}

#left-cont input {
    width: 80%;
    height: 20px;
    margin: 10px 0px;
    padding: 10px 20px;
}

#left-form #your-msg {
    margin: 10px 0px;
    padding: 20px;
    width: 80%;
    height: 160px;
}

#left-form #submit {
    display: block;
    width: 120px;
    height: 40px;
    margin: 20px auto;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    text-decoration: none;
    line-height: 40px;
    font-weight: bold;
    float: left;
    padding: 0px;
}

div#right-cont {
    float: right;
    width: 50%;
}

#right-cont h3 {
    width: 90%;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 20px;
    text-align: left;
}
#set1 {
    width: 170px;
    height: 500px;
    display: block;
    float: left;
    padding-right: 20px;
}

#set1 > a {
    margin: 20px auto 50px;
}

#set2 {
    width: 170px;
    height: 500px;
    display: block;
    float: left;
    padding-left: 20px;
}

#set2 > a {
    margin: 20px auto 50px;
}

#brand1 {
    width: 162px;
    height: 22px;
    display: block;
    background-image: url(../img/brand1.png);
    background-repeat: no-repeat;
    background-size: cover;
    clear: both;
}

#brand2 {
    width: 154px;
    height: 41px;
    display: block;
    background-image: url(../img/brand2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#brand3 {
    width: 151px;
    height: 24px;
    display: block;
    background-image: url(../img/brand3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#brand4 {
    width: 113px;
    height: 69px;
    display: block;
    background-image: url(../img/brand4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#brand5 {
    width: 109px;
    height: 53px;
    display: block;
    background-image: url(../img/brand5.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#brand6 {
    width: 138px;
    height: 22px;
    display: block;
    background-image: url(../img/brand6.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#brand7 {
    width: 140px;
    height: 21px;
    display: block;
    background-image: url(../img/brand7.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#brand8 {
    width: 95px;
    height: 34px;
    display: block;
    background-image: url(../img/brand8.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#brand9 {
    width: 114px;
    height: 56px;
    display: block;
    background-image: url(../img/brand9.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#brand10 {
    width: 130px;
    height: 70px;
    display: block;    
    background-image: url(../img/brand10.png);
    background-repeat: no-repeat;
    background-size: cover;
}



/* 9th Container */
div#footer-bottom {
    width: 100%;
    height: 400px;
    background-image: url(../img/overlayer5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div#footer-bottom div.colored-footer-bottom {
    width: 960px;
    height: 400px;
    margin: 0 auto;
}

div#head-footer-bottom {
    float: left;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 70px 0px;
}

div#ftr-cont1 {
    width: 320px;
    height: 260px;
    color: #FFF;
    float: left;
    display: block;
}

#ftr-cont1 #tajam-logo {
    float: left;
    display: block;
    margin: 0px 0px 10px;
    width: 94%;
    height: 50px;
    background-image: url(../img/tajam-logo.png);
    background-repeat: no-repeat;
}

#body-footer-bottom > p {
    width: 80%;
    text-align: left;
    float: left;
    margin: 0 10px;
}

nav#footer-navigation {
    float: left;
    padding: 50px 0 0;
    height: 50px;
}

nav#footer-navigation a {
    padding: 0 10px;
    color: #FFF;
    text-decoration: none;
    font-size: 9pt;
    font-weight: bold;
}

nav#footer-navigation a:hover {
    color: #00e0d0;
}

div#ftr-cont2 {
    width: 320px;
    height: 260px;
    color: #FFF;
    float: left;
    display: block;
}

#ftr-cont2 h3 {
    float: left;
    display: block;
    margin: 0px 0px 10px;
    width: 94%;
    height: 50px;
    color: #FFF;
    text-align: left;
    line-height: 50px;
}

a#location {
    background-image: url(../img/loc1.png);
    background-repeat: no-repeat;
    width: 17px;
    height: 55px;
    display: block;    
}


a#phone {
    background-image: url(../img/tel1.png);
    background-repeat: no-repeat;
    width: 17px;
    height: 55px;
    display: block;    
}

#icon {
    width: 17px;
    clear: both;
    float: left;
    height: 80px;
    margin-right: 15px;
}

div#text-ftr-2 {
    text-align: left;
    width: 80%;
    float: left;
}

div#text-ftr-2 > p {
    text-align: left;
    width: 80%;
    float: left;
}

div#ftr-cont3 {
    width: 320px;
    height: 260px;
    color: #FFF;
    float: left;
    display: block;
}

#ftr-cont3 h3 {
    float: left;
    display: block;
    margin: 0px 0px 10px;
    width: 94%;
    height: 50px;
    color: #FFF;
    text-align: left;
    line-height: 50px;
}

div#subscribe {
    width: 296px;
    height: 50px;
    display: block;
    clear: both;
}

div#sub-input {
    width: 210px;
    height: 43px;
    float: left;
    margin: 3px 0px;
    border: 1px solid;
    padding-left: 5px;
}

#email-subscribe {
    width: 210px;
    height: 40px;
    border: 0px;
    margin: 1px 0px;
    background-color: transparent;
}

div#sub-submit {
    width: 72px;
    height: 48px;
    float: right;
    margin: 1px 0px;
}

#btn-submit {
    height: 48px;
    border: 0px;
    width: 72px;
    display: block;
    background: none;
    text-indent: -9999px;
    background-image: url(../img/send-btn.png);
}

#social-imgs {
    width: 296px;
    height: 58px;
    margin: 25px 0;
    display: block;
    clear: both;
}

#facebook {
    height: 35px;
    width: 35px;
    display: block;
    float: left;
    margin: 5px;
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
}

#twitter {
    height: 35px;
    width: 35px;
    display: block;
    float: left;
    margin: 5px;
    background-image: url(../img/twitter.png);
    background-repeat: no-repeat;
}

#dribble {
    height: 35px;
    width: 35px;
    display: block;
    float: left;
    margin: 5px;
    background-image: url(../img/dribble.png);
    background-repeat: no-repeat;
}

#instagram {
    height: 35px;
    width: 35px;
    display: block;
    float: left;
    margin: 5px;
    background-image: url(../img/instagram.png);
    background-repeat: no-repeat;
}

#google {
    height: 35px;
    width: 35px;
    display: block;
    float: left;
    margin: 5px;
    background-image: url(../img/google.png);
    background-repeat: no-repeat;
}

#youtube {
    height: 35px;
    width: 35px;
    display: block;
    float: left;
    margin: 5px;
    background-image: url(../img/youtube.png);
    background-repeat: no-repeat;
}

#text-ftr-ftr > p {
    text-align: left;
    width: 90%;
    float: left;
    clear: both;
    margin-top: 10px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}